.contact-us {
    padding: 50px 20px;
    background-color: #f9f9f9; /* Light background color */
    color: #333; /* Dark text color */
    text-align: center; /* Center the text */
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
}

.contact-us h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Align labels and inputs to the left */
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28A745; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838; /* Darker shade on hover */
} 